<html>
	<head>
		<title>ExtJs UI Login</title>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="http://examples.sencha.com/extjs/6.2.0/examples/classic/shared/examples.css" /> 
    <script type="text/javascript" src="http://examples.sencha.com/extjs/6.2.0/examples/classic/shared/include-ext.js"></script>
    

		<script>

			Ext.onReady(function(){

			    var login = new Ext.FormPanel({ 
			    	width: 400,
			        labelWidth:80,
			        url:'authenticate', 
			        frame:true, 
			        title:'Login', 
			        defaultType:'textfield',
			        renderTo:'divLogin',		        	
			        monitorValid:true,
			        items:[{
			        		id : 'userName',
			                fieldLabel:'User Name', 
			                name:'userName',
			                value : 'bekir',
			                allowBlank:false
			            },{ 
			            	id:'password',
			                fieldLabel:'Şifre', 
			                name:'password', 
			                inputType:'Password', 
			                value : 'su',
			                allowBlank:false 
			            }],
			        buttons:[{
			        	id : 'btnLogin',
			            text:'Login',
			            formBind: true,	 
			            handler:function(){ 
			                login.getForm().submit({ 
			                    method:'POST',
			                    //params: login.getForm().getValues(),
			                    waitTitle:'', 
			                    waitMsg:'Please wait to login',	
			                    success:function(o,resp){
			                    	document.cookie="sessionUserName="+resp.result.sessionUserName+"; sessionUserId="+resp.result.sessionUserId;
			                    	document.location='main.htm';
			                    },
			                    failure:function(form, action){
			                    	Ext.Msg.alert('Error', 'User Name/Password wrong');
			                    	Ext.getCmp('password').setValue("");
			                    	Ext.getCmp('password').focus(true);
				                    //login.getForm().reset(); 
			                    } 
			                }); 
			            } 
			        }] 
			    });
			    
			    login.getEl().center();				    
			    Ext.getCmp('btnLogin').focus(false);
			});

		</script>
	</head>
	<body>
		<div id="divLogin"></div>
	</body>
</html>